/* font styler */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #474747;
}

nav a {
    text-decoration: none;
}

.clik-btn {
    color: white;
   text-decoration: none;
}

.span-color {
    color: #FD6E0A;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 12px 25px;
    color: white;
}

/* heading related style */
.head {
    background-color: antiquewhite;
    justify-content: space-between;
}

.banner {
    /* margin: 0 180px; */
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banne .profile {
    width: 500px;
}

.bnr-contnt {
    max-width: 500px;
}

.bnr-wlc {
    color: var(--Dark-02, #474747);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 2px;
    font-style: normal;
}

.name {
    color: var(--Dark-01, #181818);
    font-size: 75px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
}

.bnr-pgr {
    font-size: 18px;
    font-weight: 400;
    margin-top: 2px;
}

/* End Header Part Style */

/* Start Main part style */
main {
    max-width: 1140px;
    margin: 0 auto;
}
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#pra {
    padding: 30px 150px;
    padding-top: 0;
}

.section-tittle {
    padding-bottom: 5px;
    padding: 0;
}

.skils-container {
    display: flex;
}

.skils {
    max-height: 325px;
    max-width: 267px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    /* color: #FFFFFF; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-right: 25px;
}

.skills-description {
    padding: 30px 33px;
    height: 196px;
    width: 201px;
}

/* Resume part styles */
.section-title {
    margin-top: 100px;
    text-align: center;
}

.resume-container {
    display: flex;
    gap: 60px;
}

.resume-coloum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-institute,
.resume-company {
    color: #757575;
    margin-bottom: 5px;
}

.resume-description {
    color: #ada9a9;
    margin-bottom: 15px;
}

.resume-item-title {
    margin-bottom: 10px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footr style */
footer{
    height: 700px;
    display: flex;
    gap: 75px;
    padding-left: 130px 386px 130px 230px;
    margin: 130px 10px 10px 10px;
    background-color: rgb(239, 236, 232);
}
.footer-coloum{
    width: 50%;
}
.section-descriptions{
    height: 56px;
    width: 562px;
}
.img-formate{
    padding-left: 15px;
    padding-right: 15px;
}
.nam, .mail{
    height: 40px;
    width: 500px;
    background-color: #FFF;
}

.msg{
    height: 150px;
    width:300px;
}
.contract input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    background-color: #FFF;
    border: 0;
}
